.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 3px solid #e0354b;
  padding: 20px;
  text-align: right;
}

.App-footer p {
  color: black;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}
