.notification-items {
  border: 2px dotted #e1003c;
  padding: 10px;
  margin: 10px;
  text-align: left;
  font-family: Arial, sans-serif;
  color: #333;
}

.notification-items P {
    padding: 0 0 0 1rem;
}

.notification-items ul {
  padding-left: 40px;
  margin: 10px;
  text-align: left;
  font-family: Arial, sans-serif;
  color: #333;
}

.notification-items ul li {
  text-align: left;
  font-family: Arial, sans-serif;
  color: #333;
}

.notification-items ul li[data-priority="default"] {
  color: blue;
}



.notification-items ul li[data-priority="urgent"] {
  color: red;
}