.App-header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid #e0354b;
}

.App-header img {
  display: flex;
  width: 300px;
  height: 300px;
}

.App-header h1 {
  color: #e0354b;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 30px;
}
